{% extends "base.html" %}
{% block title %}Password Change Successful{% endblock title %}

{% block content %}
<section class="container">
    <h1>Password Change Successful</h1>
    <p>Your password was changed.</p>
</section>

<style>
    .password-change-section {
        margin: 50px auto;
        width: 80%;
        max-width: 600px;
    }

    .password-change-section h1 {
        margin-bottom: 20px;
    }

    .password-change-section p {
        margin-bottom: 20px;
    }
</style>

{% endblock content %}