body {
   font-family: American Typewriter, serif;
   margin: 0;
   background-image: url("/static/img/main_photo.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   color: white;
   position: relative;
   font-size: 24px;
}


body::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(85, 85, 85, 0.247);
   z-index: -1;
}

.logo-background {
   background-image: url("/static/img/pawsome_logo.png");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: left;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 0;
   height: 500px;
}

.logo-background+.container .row {
   margin-top: 100px;
}

.container {
   background-color: rgba(85, 85, 85, 0.699);
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   z-index: 1;
   flex-grow: 1;
   margin-bottom: 150px;

}

a {
   color: #e3f1d2;
   text-decoration: underline;
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.3);
   backdrop-filter: blur(10px);
   position: sticky;
   top: 0;
   width: 100%;
   margin-bottom: 35px;
   color: white;
   height: 60px;
   z-index: 1100;

}

.navbar-center {
   text-align: center;
   display: flex;
}

.navbar-left {
   display: flex;
   align-items: center;
}

.navbar img {
   width: 40px;
   margin-right: 5px;
}

.navbar-right ul,
.navbar-right-logged-out ul {
   display: flex;
   list-style: none;
   text-decoration: none;
   margin: 0;
   padding: 0;
   align-items: center;
}


.navbar a {
   color: white;
   text-decoration: none;
   padding: 10px;


}

.navbar-right li {
   margin-right: 10px;

}

.navbar-left li {
   margin-right: 10px;

}

.navbar a:hover {
   text-decoration: underline;
}

.btn-primary {
   margin-top: -5px;
   background-color: #414d33;
   color: #fff;
   margin-right: 10px;
   border-color: #ffffff;
   font-size: 18px;
}

.btn-primary:hover {
   background-color: #c4d1ab;
   border-color: #44473a;
}

.navbar-left {
   display: flex;
   align-items: center;
}

.navbar-left .menu-buttons {
   display: flex;
   font-size: 18px;
   align-items: center;
}

.navbar-left .menu-buttons a {
   background-color: #414d33;
   color: #fff;
   margin-right: 10px;
   border-color: #ffffff;
   font-size: 18px;
}

.navbar-left .menu-buttons a:last-child {
   margin-right: 0;
}

.navbar-left .menu-buttons a:hover {
   background-color: #c4d1ab;
   border-color: #44473a;

}

.shelters-container {
   padding-top: 100px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
}

.shelter-card {
   width: 400px;
   height: 300px;
   background-size: cover;
   background-position: center;
   border-radius: 10px;
   overflow: hidden;
   position: relative;
}

.shelter-details {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   color: white;
   padding: 10px;
   text-align: center;
}

.shelter-details h2 {
   margin: 0;
}

.shelter-data {
   margin-bottom: 40px;
   margin-left: 20px;
}

.pet-section {
   margin-top: 40px;
}

.pet-cards {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: center;
   align-items: center;
}

.pet-card {
   width: 300px;
   background-color: #414d334b;
   border: 1px solid #ddd;
   border-radius: 5px;
   overflow: hidden;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pet-card:hover {
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.pet-detail-photo img {
   margin-left: 20px;
   max-width: 400px;
   height: auto;

}

.pet-details {
   padding: 15px;
}

.pet-details h3 {
   margin-top: 0;
   margin-bottom: 10px;
   color: white;
}

.pet-details p {
   margin: 0;
   color: white;
}

.pet-detail-text {
   width: 50%;
}

.pet-detail-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}


@media (max-width: 768px) {
   .pet-detail-wrapper {
      flex-direction: column;
   }

   .pet-detail-text,
   .pet-detail-photo {
      width: 100%;
   }
}

.pet-image {
   width: 100%;
   height: 200px;

   overflow: hidden;
}

.pet-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;

}

.filter-form {
   background-color: #f9f9f9;
   border-radius: 8px;
   padding: 20px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-row {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}

.form-group {
   flex: 1 1 auto;
   /* Allow the form groups to grow and shrink */
}

.form-control {
   width: 100%;
}


footer {
   background-color: rgba(0, 0, 0, 0.3);
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: #fff;
   padding: 20px 0;
   text-align: center;
   margin-top: 500px;
}