{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pawsome{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="Pawsome Logo">
        </div>

        <div class="header image">
            <img src="{% static 'img/header.png' %}" alt="animals">
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'animal_shelter_app:shelter_list' %}">Shelters</a></li>
                
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Pawsome. All rights reserved.</p>
    </footer>

    <script src="{% static 'js/ajax.js' %}"></script>
</body>
</html>
