{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="details-section">
    <h1>My profile</h1>

    <div class="profile-image">
        {% if profile.image %}
        <img src="{{ profile.image.url }}" alt="Profile Image" class="img-fluid smaller-profile-image"
            style="width: 200px; height: 200px;">
        {% else %}
        <p>No profile image available</p>
        {% endif %}
    </div>

    <div class="profile-info">
        <p><strong>Username:</strong> {{ profile.username }}</p>
        <p><strong>Email:</strong> {{ profile.email }}</p>
        <p><strong>Name:</strong> {{ profile.first_name }}</p>
        <p><strong>Last Name:</strong> {{ profile.last_name }}</p>
        <p><strong>Phone Number:</strong> {{ profile.phone_number }}</p>
        <p><strong>Address:</strong> {{ profile.street_address }}, {{ profile.city }}, {{ profile.country }}</p>
    </div>
</section>
{% endblock %}