{% extends 'base.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    {% block content %}
        <div class="container">
            <h1>Pet List</h1>
            <ul>
                
                {% for pet in pets %}
                    <li>
                        <a href="{% url 'animal_shelter_app:pet_detail' pet.id %}"> 
                        {{ pet.name }} - {{ pet.species }} - {{pet.age}} - 
                        
                        <br>
                        <img src="{{ pet.photos.url }}" alt="Pet Image">

                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}
    
 <!-->   
    </!--> 
</body>


