<!DOCTYPE html>
<html>
<head>
    <title>List of Pets</title>
</head>
<body>
    {% block content %}
        <div class="container">
            <h1>Pet List</h1>
            <ul>
                
                {% for pet in pets %}
                    <li>
                        <a href="{% url 'animal_shelter_app:pet_detail' pet.id %}"> 
                        {{ pet.name }} - {{ pet.species }} - {{pet.age}} - 
                        
                        <br>
                        <img src="{{ pet.photos.url }}" alt="Pet Image">

                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}
    
 <!-->   
    </!--> 
</body>
</html>