<!-- shelters/templates/shelters/shelter_list.html -->
{% extends "base.html" %}
{% load static %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shelters List</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    {% block content %}
        <h1>Shelters List</h1>
        <div class="shelter-list">
                {% for shelter in shelters %}
                    <ul><a href="{% url 'user_managment_app:shelter_detail' shelter.pk %}">
                    <h2>{{ shelter.name }} </h2>
                    <img src="{{ shelter.image.url }}" alt="{{ shelter.name }} picture"
                        class="shelter-image">    
                     </a>
                    </ul>
                {% endfor %}
        </div>
    {% endblock %}
</body>
