{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="details-section container">
    <div class="row">
        <div class="col-md-6">
            <h1>My Profile</h1>

            <div class="profile-image">
                {% if user.image %}
                <img src="{{ user.image.url }}" alt="Profile Image" class="img-fluid rounded-circle profile-image">
                {% else %}
                <p>No profile image available</p>
                {% endif %}
            </div>

            <div class="profile-info mt-4">
                <p><strong>Username:</strong> {{ user.username }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Address:</strong> {{ user.street_address }}, {{ user.city }}, {{ user.country }}</p>
                <p><strong>Phone Number:</strong> {{ user.phone_number }}</p>
                <p><strong>Website:</strong> {{ profile.website }}</p>
                <p><strong>Description:</strong> {{ profile.description }}</p>
            </div>
            <a href="{% url 'user_managment_app:edit_shelter_profile' %}" class="btn btn-primary">Edit profile</a>
        </div>
        <div class="col-md-6">
            <div class="text-right">
                <a href="{% url 'animal_shelter_app:add_pet' %}" class="btn btn-primary">Add Pet</a>
                <a href="{% url 'animal_shelter_app:pet_list_shelter' profile.pk %}" class="btn btn-primary">My
                    Pets</a>
            </div>
        </div>
    </div>
</section>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>
    .details-section {
        margin-top: 50px;
    }

    .profile-image {
        text-align: center;
        margin-bottom: 20px;
    }

    .profile-image img {
        width: 200px;
        height: 200px;
    }

    .profile-info p {
        margin-bottom: 10px;
    }

    .add-pet-btn {
        margin-top: 20px;
    }
</style>

{% endblock %}