{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">

    <div class="shelter-data">
        <h2>Shelter Detail</h2>
        <p><strong>Email:</strong> {{ shelter.user.email }}</p>
        <p><strong>Address:</strong> {{ shelter.user.street_address }}, {{ user.city }}, {{ user.country }}</p>
        <p><strong>Phone Number:</strong> {{ shelter.user.phone_number }}</p>
        <p><strong>Website:</strong> {{ profile.website }}</p>
        <p><strong>Description:</strong> {{ profile.description }}</p>
    </div>
</div>

<div class="container">
    <section class="pet-section">
        <h1>Pets in this shelter:</h1>
        <div style="padding: 20px 20px;">
            <form id="filter-form" method="GET"
                style="display: flex; flex-wrap: wrap; align-items: center; background-color: #8884846e; padding: 10px;">
                <div class="form-group" style="margin-right: 10px;">
                    <label for="species">Species:</label>
                    <select id="species" name="species" class="form-control">
                        <option value="">All Species</option>
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
                    </select>
                </div>

                <div class="form-group" style="margin-right: 10px;">
                    <label for="gender">Gender:</label>
                    <select id="gender" name="gender" class="form-control">
                        <option value="">All Genders</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>

                <div class="form-group" style="margin-right: 10px;">
                    <label for="size">Size:</label>
                    <select id="size" name="size" class="form-control">
                        <option value="">All Sizes</option>
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select>
                </div>

                <div class="form-group" style="margin-top: 10px;">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </form>
        </div>
        <div class="pet-cards">
            {% for pet in pets %}
            <div class="pet-card">
                <a href="{% url 'animal_shelter_app:pet_detail' pet.pk %}">
                    <div class="pet-image">
                        <img src="{{ pet.photos.url }}" alt="{{ pet.name }} Image">
                    </div>
                    <div class="pet-details">
                        <h3>{{ pet.name }}</h3>
                        <p>{{ pet.species }} - {{ pet.age }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock %}