{%load static%}
<br>
<div class="mycard fs-4 shadow text-center">
      <h2 align="center">{{us.WebsiteName}}</h2>
      <img src="{%static us.Logo%}" alt="Not Found" class="foto">
      <p>We are : {{ us.Members }}<br> Our story ....<br>{{ us.Story |safe }}<br>more about us ... <a
                  href="{% url 'contact_page'%}" class="cleanlink">Contact page</a></p>
</div>
<br>
<hr>
<h2 align="center" class="bold mt-2 p-2">Our stories with best ends </h2>
<div class="mt-3 mb-3 p-2">
      <div class="row fit p-3 mt-2  bg-card shadow widht-10">
            {% for story in us.FunnyStories %}
            <div class="col p-2 fs-5 m-2 text-center shadow height3 width-4 ">

                  <img src="{%static story.foto %}" alt="Not found" class="fotostory">

                  <p style="width: 60%;">{{story.paragraphe}}</p>



            </div>
            {% endfor %}
      </div>
</div>
<br>
<h2 align="center" class="bold mt-2 p-2 font-fam">Our contributors</h2>
<div class="mt-3 mb-3 p-2">
      <div class="row fit p-3 mt-3 bg-card shadow widht-10" align="center">
            {% for contributor in us.contributors %}
            <div class="col p-2 fs-5 m-2 shadow height2 width-4">

                  <img src="{%static contributor.foto %}" alt="Not found" class="contributorimg fit"><br>

                  <a href="{{contributor.link}}">{{contributor.name}}</a>



            </div>
            {% endfor %}
      </div>
</div>